body {
  background: #000;
  color: #fff;
  font-family: monospace;
}

#screen {
  border: 5px solid red;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  background: #333;
  width: 500px;
}

textarea{
  width: 100%;
  height: 200%;
}
