body {
    background: #000;
}

#screen{
    border: 5px solid red;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    background: #333;
    width:  500px;
}